.mkd-blog-holder {
	&.mkd-blog-type-standard {
		width: 70%;
		margin: 0 auto;

		.mkd-grid-col-9 &, .mkd-grid-col-8 & {
			width: 94%;
		}

		article {
			margin-bottom: 47px;

			.mkd-post-image {
				position:relative;
				line-height: 0;
				a, img {
					display: block;
				}

				&:before {
					content:"";
					position:absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					opacity:0;
					background:rgba(255,255,255,0.3);
					@include mkdTransition(0.3s all ease-in-out);
				}

				&:hover {
					&:before {
						opacity:1;
					}
				}
			}

			.mkd-post-text {
				margin-top: 35px;
			}

			.mkd-post-info-category {
				font-family: $headings-font-family;
				text-transform: uppercase;
				font-weight: 700;
				font-size: 12px;
				letter-spacing: 0.25em;

				a {
					margin-right: 6px;
				}
			}

			.mkd-post-title {
				margin-top: 10px;
			}

			.mkd-post-excerpt {
				margin-top: 17px;
				margin-bottom: 30px;
			}

			.mkd-post-info {
				padding: 17px 0;
				border-top: 1px solid #cacaca;
				font-weight: 700;
				font-size: 10px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
				color: #ababab;
				font-family: $headings-font-family;

				a {
					color: #ababab;
				}

				i {
					font-size: 14px;
				}

				div {
					display: inline-block;
					vertical-align: middle;
				}

				.mkd-avatar a {
					display: block;
					height: 40px;
					width: 40px;
					overflow: hidden;

					@include mkdBorderRadius(50%);
				}

				.mkd-author {
					padding-left: 13px;
				}

				.mkd-post-info-date {
					padding-left: 12px;

					.mkd-date {
						padding-left: 4px;
					}
				}

				.mkd-post-info-date-icon {
					position: relative;
					top: 1px;
				}

				.mkd-post-info-comments-holder {
					padding-left: 20px;

					.mkd-comments-number {
						padding-left: 5px;
					}
				}

				.mkd-post-info-comments-icon {
					position: relative;
					top: 2px;
				}

				.mkd-social-share-holder {
					padding-left: 21px;
				}
			}

			&.format-gallery {
				.mkd-slick-slider {
					opacity: 0;

					.slick-prev {
						right: calc(100% - 65px);

						&:before {
							content: '\e875';
							left: -13px;
							font-family: 'Linearicons-Free';
							font-size: 65px;
							line-height: 47px;
							color: #fff;
							font-weight: 400;
						}
					}

					.slick-next {
						left: calc(100% - 65px);

						&:before {
							content: '\e876';
							font-family: 'Linearicons-Free';
							font-size: 65px;
							line-height: 47px;
							color: #fff;
							font-weight: 400;
						}
					}
				}
			}

			&.format-link {
				.mkd-post-content {
					padding: 30px 45px 35px;
					background-color: $first-main-color;
					position: relative;

					@include mkdBoxShadow(1px 1px 1px 0px rgba(0, 0, 0, 0.08));
				}

				.mkd-post-text {
					margin-top: 0;
				}

				.mkd-post-mark {
					float: left;
					font-size: 48px;
					color: #fff;
                    margin-top: 0;
                    position: absolute;
                    top: 50%;
                    @include mkdTransform(translateY(-50%));
				}

				.mkd-post-title {
					padding-left: 11%;
					margin-top: 10px;
					color: #fff;
                    line-height: 1.8em;

					a {
						@include mkdTransition(opacity 0.3s ease);
					}

					& a:hover {
						color: inherit;
						opacity: 0.9;
					}
				}
			}

			&.format-quote {
				.mkd-post-content {
					padding: 35px 35px 35px 29px;
					background-color: $first-main-color;

					@include mkdBoxShadow(1px 1px 1px 0px rgba(0, 0, 0, 0.08));
				}

				.mkd-post-text {
					margin-top: 0;
				}

				.mkd-post-mark {
					float: left;
					font-size: 93px;
					color: #fff;
					margin-top: -20px;
				}

				.mkd-post-title {
					padding-left: 13%;
					margin-top: 10px;
					color: #fff;
                    line-height: 1.8em;
					min-height: 42px;

					a {
						@include mkdTransition(opacity 0.3s ease);
					}

					& a:hover {
						color: inherit;
						opacity: 0.9;
					}
				}
			}
		}
		.mkd-pagination {
			margin-top: 25px;
		}
	}
}