@media only screen and (max-width: map-get($breakpoints, laptop-landscape)) {

	.mkd-testimonials-holder-inner .testimonials-grid.mkd-four-columns {
		width: calc(50% - 24px);
	}

    .mkd-testimonials.testimonials-slider{
        .slick-arrow {
            &.slick-prev {
                width: 48px;
                height: 48px;
                &:before {
                    font-size: 48px;
                }

            }
            &.slick-next {
                width: 48px;
                height: 48px;
                &:before {
                    font-size: 48px;
                }
            }
        }
    }
}

@media only screen and (max-width: map-get($breakpoints, ipad-portrait)) {

	.mkd-testimonials-holder-inner .testimonials-grid.mkd-three-columns {
		width: calc(100% - 24px);
	}

}

@media only screen and (max-width: map-get($breakpoints, phone-landscape)) {

  	.mkd-testimonials.testimonials-slider{
  		.slick-list {
  			max-width: 80%;
  			margin: auto;
  		}

	  	.slick-arrow {
			&.slick-next {
			  	right: 15px;
		  	}
		}
	}

	.mkd-testimonials-holder-inner .testimonials-grid.mkd-two-columns {
		width: calc(100% - 24px);
	}

	.mkd-testimonials-holder-inner .testimonials-grid.mkd-three-columns {
		width: calc(100% - 24px);
	}

	.mkd-testimonials-holder-inner .testimonials-grid.mkd-four-columns {
		width: calc(100% - 24px);
	}
}
