@include laptop-landscape-large {

	.mkd-fullscreen-below-menu-widget-holder {
		width: 60%;
	}

	.mkd-fullscreen-above-menu-widget-holder {
		top: 10%;
	}

	nav.mkd-fullscreen-menu ul li {
		a span {
			margin: 12px 0 28px;
		}
	}
}

@include mac {
	nav.mkd-fullscreen-menu ul li {

		a {
			font-size: 38px;
		}
		a span {
			margin: 10px 0 18px;
		}
	}

	nav.mkd-fullscreen-menu > ul > li {
		margin-bottom: 18px;
	}
}