/* ==========================================================================
   WooCommerce Buttons styles - begin
   ========================================================================== */

.woocommerce-page .mkd-content,
div.woocommerce {

	a.button,
	a.added_to_cart,
	input[type="submit"],
	button[type="submit"] {
		position: relative;
		display: inline-block;
		font-family: $headings-font-family;
		width: auto;
		height: 41px;
		line-height: 37px;
		padding: 0 23px;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 0.2em;
		color: #fff;
		background-color: $first-main-color;
		border: 2px solid $first-main-color;
		outline: none;
		cursor: pointer;
		vertical-align: middle;
		text-transform: uppercase;
		-webkit-appearance: none;
		@include mkdBorderRadius(30px);
		@include mkdBoxSizing(border-box);
		@include mkdTransition(color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out);

		&:hover {
            background-color: transparentize($first-main-color,.2);
            border: 2px solid transparent;
		}
	}

	a.button.added {
		display: none;
	}
}

/* ==========================================================================
   WooCommerce Buttons styles - end
   ========================================================================== */