@import 'types/standard';
@import 'types/image_title';

.mkd-author-description {
	margin: 70px 0 0 0;

	.mkd-author-description-image {
		width: 102px;
		float: left;
	}

	.mkd-author-description-text-holder {
		padding-left: 122px;

		.mkd-author-name {
			margin-top: 0;
		}

		.mkd-author-social-holder > a {
			margin-right: 8px;
		}
	}
}

.mkd-related-posts-holder {
	margin: 50px 0;
}

.mkd-related-posts-inner {
	margin: 0 -12px;
}

.mkd-related-posts-holder {
	.mkd-related-post {
		float: left;
		width: 25%;
		padding: 0 12px;

		@include mkdBoxSizing(border-box);

		a {
			display: block;
		}
	}
}

.mkd-blog-single-navigation {
	border-top: 1px solid #e3e5e8;
	padding: 30px 0 115px;
	margin-top: 115px;

	.mkd-single-nav-image-holder {
		width: 58px;

		a, img {
			display: block;
		}
	}

	.mkd-blog-single-prev, .mkd-blog-single-next {
		width: 33%;
	}

	.mkd-blog-single-prev {
		float: left;

        .mkd-single-nav-image-holder {
            float: left;
        }

		.mkd-single-nav-content-holder {
			padding-left: 78px;
            text-align: left;
		}
	}

	.mkd-blog-single-next {
		float: right;

        .mkd-single-nav-image-holder {
            float: right;
        }

		.mkd-single-nav-content-holder {
			padding-right: 78px;
            text-align: right;
		}
	}

	.mkd-navigation-post-title {
		margin: 0;
        line-height: 1.6em;
	}

	.mkd-navigation-post-date {
		color: #ababab;
		font-size: 10px;
		font-weight: 700;
		letter-spacing: 0.2em;
		font-family: $headings-font-family;
	}
}

.single-post .mkd-content .mkd-content-inner>.mkd-container,
.single-post .mkd-content .mkd-content-inner>.mkd-full-width {
	background-color: #f5f5f5;
}